@import '../../../../styles/base/index.scss';

.sidebar-links{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 2px;
  
  &>ul{
    list-style: none;
    margin: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;

    .link-toggle{
      padding: 8px 10px;
      color: $color-gray-primary;
      border-radius: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon{
        font-weight: 800;
        stroke-width: 2px;
      }
    }
    .items{
      height: 0px ;
      overflow: hidden;
      list-style: none;
      padding-left: 10px;
      
      &.active{
        height: fit-content;
      }
      li{
        
        .item{
          padding: 10px 12px;
          color: $color-gray-primary;
          text-decoration: none;
          display: block;
          font-size: 13px;
          margin-bottom: 5px;
        
          &.active{
            color: white !important;
            background-color: rgba(255, 255, 255, .1);
            border-radius: 5px;
          }
        }
      }
    }
  }
}